.new-game{
    height: 200px;
    margin-bottom: 2%;
}

.list-games{
    padding: 10px;
    display: flex;
}

.game{
    background-color: white;
    width: 100px;
    height: 150px;
    margin-left: 5px;
    margin-right: 5px;
}