.container{
     display: flex;
     padding: 25px;
     columns: 3;
}
.game-display{
    background-color: aquamarine;
    flex: 0.5;
}

.game-Info{
    background-color: blueviolet;
    flex: 1;
    
}

.game-rate{
    flex: 1;
    display: flex;
  justify-content: center;
}

.gaming{
    width: 500px;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: auto;
}

.card {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.text {
    flex: 1;
    margin-right: 15px; /* Space before the image */
}

.card-image {
    width: 140px;
    border-radius: 8px;
    object-fit: cover;
}

.box-container{
    border-radius: 25px;
    width: calc(100% - 10%);
    height: 500px;
    background-color: gray;
}

.box-first-step{
}