.container{
     display: flex;
     padding: 25px;
     columns: 3;
}
.game-overral{
    flex: 0.5;
    display: flex;
    flex-direction:column;
}

.game-display{
    display: flex;
    justify-content: center;
}

.game-Info{
    flex: 1;
}

.game-rate{
    flex: 1;
    display: flex;
  justify-content: center;
}

.box-container{
    border-radius: 25px;
    width: calc(100% - 10%);
    height: 400px;
    display: flex;
    flex-direction: column;
}

.box-first-step{
    flex:3;
    display: flex;
    flex-direction: row;
}

.box-third-step{
    flex:2;
    display: flex;
    flex-direction: row;
}

.second-first-step{
    flex:1;
}

.review-icons{
    flex:3;
}

.rated{
    flex:3;
    display: flex;
    flex-direction: row;
}

.rated-icon{
    flex:1;
}