.container {
    display: flex;
    flex-flow: row wrap;
    position: relative;
  }
  
  .item {
    background: blue;
    margin: 4px;
    flex: 0 1 calc(20% - 8px); /* <-- adjusting for margin */
  }

.search-game{
    border-style: solid;
    border-width: 1px;
    border-color: black;
}