.home-page{
    width: 950px;
    align-items: center;
    height: 950px;
}
.review-list{
    background-color: green;
    height: 200px;
    column-count: 2;
}

.review{
    background-color: yellow;
    width: 100%;
    height: 100%;
}